[submodule "libs/doctrine-orm"]
	path = libs/doctrine-orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "libs/Fluid"]
	path = libs/Fluid
	url = git://git.typo3.org/FLOW3/Packages/Fluid.git
[submodule "libs/smarty"]
	path = libs/smarty
	url = git://github.com/predakanga/smarty.git
[submodule "libs/AddendumPP"]
	path = libs/AddendumPP
	url = git@github.com:predakanga/AddendumPP.git
