html, body {
	height: 100%;
	position: relative;
}

.main_col {
	min-height: 100%;
	background: #FFF;
}

.no-margin {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	margin-bottom: 0;
}

a.boxLink {
    cursor: pointer;
    display: block;
    padding: 0.4em 20px;
    font-weight: bold;
    background-color: #666;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

a.boxLink:hover {
    text-decoration: underline;
}

#errors th:first-child {
	width: 10px;
}

#errors th:first-child + th {
	width: 100px;
}

#errors th:first-child + th + th {
	width: 388px;
}

#errors th:first-child + th + th + th {
	width: 200px;
}

#errors .bt {
	float: right;
}

#errors .backtrace {
	display: none;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

ul.icon-list {
    list-style: none;
    margin: 4px;
    padding: 0;
}
ul.icon-list li {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 1.2em;
    margin-left: 0;
    
}

ul.icon-list li.check {
    background-image: url(../images/icon-check.png);
}

ul.icon-list li.cross {
    background-image: url(../images/icon-cross.png);
}

ul.icon-list li.bullet {
    background-image: url(../images/icon-bullet.png);
}

ul.icon-list li.arrow {
    background-image: url(../images/icon-arrow.png);
}